extends layout

block vars
	- var title = "FF-home"
	- var navigation = "index"

block content
	section.main-display
		.container
			h1 Начни экономить до 40% топлива уже сейчас!
			.order-now
					.label
						.image-holder
							img(src="img/icons/12.png", alt="")
					.time
						p До конца акции осталось
						.counter-holder
							#CDT
						a(href="#").order.button  Заказать

	section.advantages-display.white
		.container
			h2 Преимущества
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eligendi vitae nemo veniam temporibus ipsam a debitis quo magnam, possimus sunt unde consequuntur nam eius atque natus quisquam at sapiente dignissimos fugit laboriosam aspernatur quae. Mollitia qui consectetur odio nesciunt accusantium eveniet quaerat magnam quia, saepe cum, odit ut! Similique impedit saepe, fuga est vitae neque placeat. Animi ducimus, illum doloribus. Libero numquam id eaque quo. Voluptas delectus repellat vero praesentium, quam, voluptatum numquam unde quas deleniti magnam qui quod obcaecati aliquid, consequuntur natus facere accusantium atque optio. Quisquam laudantium, enim culpa a incidunt veritatis error cumque inventore nemo omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eligendi vitae nemo veniam temporibus ipsam a debitis quo magnam, possimus sunt unde consequuntur nam eius atque natus quisquam at sapiente dignissimos fugit laboriosam aspernatur quae. Mollitia qui consectetur odio nesciunt accusantium eveniet quaerat magnam quia, saepe cum, odit ut! Similique impedit saepe, fuga est vitae neque placeat. Animi ducimus, illum doloribus. Libero numquam id eaque quo. Voluptas delectus repellat vero praesentium, quam, voluptatum numquam unde quas deleniti magnam qui quod obcaecati aliquid, consequuntur natus facere accusantium atque optio. Quisquam laudantium, enim culpa a incidunt veritatis error cumque inventore nemo omnis.
			ul.advantages-list.inline-layout.col-3
				li
					.image-holder
						img(src="img/icons/a-1.png", alt="")
					p
						|Сокращение расхода топлива от 10% до 40%
				li
					.image-holder
						img(src="img/icons/a-2.png", alt="")
					p
						|Увеличивает мощность двигателя от 3 до 7%
				li
					.image-holder
						img(src="img/icons/a-3.png", alt="")
					p
						|Снижает выхлоп СО и СН до 50%
				li
					.image-holder
						img(src="img/icons/a-4.png", alt="")
					p
						|Предовращает появление напипи и коррозию двигателя
				li
					.image-holder
						img(src="img/icons/a-1.png", alt="")
					p
						|Увеличивает срок службы двигателя
	section.how-it-works.white
		.container
			h2  Как работает FreeFuel
			.works-description
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore commodi libero, distinctio, delectus doloremque illo nemo impedit soluta deserunt, est dolorum, repellat voluptatibus ipsam. Facilis ex deleniti esse dolore eius aliquam iure id numquam, eaque, assumenda natus dolores adipisci, incidunt alias culpa cupiditate omnis cumque non et blanditiis ea repellat similique unde qui? Dolorem quas reprehenderit aliquam, odit cumque ad ipsa ullam nulla, ducimus quos sed animi nam maxime quaerat, ea eaque corporis veritatis ipsam esse quasi id. Harum magnam, qui illo. Ea dolores eligendi vel mollitia dolore, ab recusandae iure aut doloribus ratione eos minima unde porro facere architecto necessitatibus quos sint eum voluptatum, suscipit ipsa. Dolor voluptates, culpa aspernatur vitae aut sint quo laudantium consequatur minus in vel a sed corporis placeat! Consectetur magni ipsa quae consequuntur ipsam praesentium, nihil quis, tempore, eos nam harum asperiores totam odio hic nobis aut! Ut nesciunt quos delectus enim veritatis at earum minus ipsum, assumenda dolor natus excepturi ex sed necessitatibus quasi officia ipsa facere tempore vel tempora nulla! Iste deleniti eos quasi consequatur quod temporibus minima, doloribus iure nostrum. At magnam pariatur voluptatibus illum nostrum illo et, accusamus harum ducimus, consequatur perferendis sapiente aut distinctio sit ipsa voluptates sint ex!
				.image-holder
					img(src="img/content/works.jpg", alt="")

	section.start-order
		a(href="#").button НАчать Экономить

	section.info-block
		.inline-layout.col-2
			.description
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum rerum sunt asperiores rem. Voluptatem perferendis voluptate, maxime fuga ab adipisci porro sint, totam quas, consequuntur aut reiciendis tenetur. Eos nihil labore sit sed, odit vero, officiis totam odio, laborum iure perferendis! Nam impedit, delectus minima totam blanditiis error tempora repudiandae, ut cumque nobis, quod quibusdam animi a quasi autem alias fugit! Ullam omnis laborum nemo iure. Quidem hic, debitis delectus. Quia voluptatum similique perspiciatis repudiandae quo voluptatibus minima eius, ratione porro delectus molestiae molestias est autem debitis maxime dolor facere at! Hic praesentium magnam temporibus, rerum placeat, doloremque quos iusto, vero consequatur eum repudiandae illo soluta ullam, dolor? Corporis harum dicta excepturi reprehenderit magnam illum commodi similique error, impedit, dolore quae eos aliquid amet nemo, est dolor! Maxime doloremque, ipsum vel. Architecto odio maiores minima similique, quasi nesciunt alias suscipit ullam libero praesentium modi animi beatae doloribus, sunt eos, molestiae esse harum sed impedit aspernatur cupiditate corporis! Corrupti adipisci provident animi hic, praesentium ipsa voluptatibus cupiditate accusamus, fuga eos eaque quibusdam fugit doloremque aliquam ducimus repellendus velit reiciendis corporis error aut quisquam et quidem deserunt possimus harum. Vitae voluptas sed laudantium, pariatur iusto temporibus deleniti. Qui voluptatum expedita deserunt.
			.facts
				ul
					li
						.image-holder
							img(src="img/icons/smiley-1.png", alt="")
						span.big 1000+
						p Довольных клиентов

					li
						.image-holder
							img(src="img/icons/smiley-3.png", alt="")
						span.big 20 000 литров
						p Сэкономленого топлива
					li
						.image-holder(style="width: 72px;")
							img(src="img/icons/smiley-4.png", alt="")
						span.big +5 лет
						p К службе двигателя
	section.spheres.white
		.container
			h2 Сферы применения устройства
			ul.spheres-list.inline-layout.col-2
				li
					.image-holder
						img(src="img/icons/t1.png", alt="")
					span Легковые автомобили
				li
					.image-holder
						img(src="img/icons/t2.png", alt="")
					span Мото
				li
					.image-holder
						img(src="img/icons/t3.png", alt="")
					span Автобысы
				li
					.image-holder
						img(src="img/icons/t4.png", alt="")
					span Локомотивы/поезда
				li
					.image-holder
						img(src="img/icons/t5.png", alt="")
					span грузовые машины
				li
					.image-holder
						img(src="img/icons/t6.png", alt="")
					span Строительные машины
				li
					.image-holder
						img(src="img/icons/t7.png", alt="")
					span Скутеры
				li
					.image-holder
						img(src="img/icons/t1.png", alt="")
					span Газовые баллоны

	section.start-order
			a(href="#").button Заказать